@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.login-background {
  background-image: url("/images/background_batuu.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-canva {
  font-family: "Canva Sans", sans-serif;
}

.text-gochi {
  font-family: "Gochi Hand", sans-serif;
}
